altair==5.5.0
pandas==2.3.2
streamlit==1.49.1
google-genai==1.36.0
faiss-cpu
sentence_transformers==5.1.0
tqdm==4.67.1
numpy==1.26.4
tiktoken==0.11.0
pypdf2==3.0.1
zai-sdk==0.0.3.6
datasets==4.1.1
scikit-learn==1.6.1
torch